fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
scikit-learn>=1.0.0
joblib>=1.1.0
numpy>=1.21.0
pydantic>=1.8.0,<2.0.0
opencv-python-headless>=4.5.0.0
mediapipe>=0.8.0
xgboost
prometheus-fastapi-instrumentator
